@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft Ten';
    src: url('../fonts/MinecraftTen.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url('../fonts/MinecraftSeven.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', serif;
}

header {
    height: 82vh;
    background: url("../img/header_bg.jpg") no-repeat center right;
    background-size: cover;
    border-bottom: 4px solid #3d3938;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #262423;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, .25);
}

.header_logo {
    width: 222px;
}

.header_menu {
    display: flex;
    column-gap: 45px;
    list-style: none;
}

.header_menu a {
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.header_menu a:hover {
    color: #1dc812;
}

.buy_link {
    display: block;
    padding: 6px 12px;
    background: #3C8527;
    border: 2px solid #52A535;
    text-decoration: none;
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    text-transform:  uppercase;
}

.buy_link:hover {
    background: #86d562;
}

main {
    background: #171615;
}

.discover_our_games {
    padding: 48px 60px 40px;
}

.section_title {
    font-family: 'Minecraft Ten', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.section_description_link {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #6cc349;
}

.section_description_link:hover {
    color: #fff;
}

.game_container {
    display: flex;
    justify-content: space-between;
}

.game_container .game {
    width: 24%;
}

.game img {
    width: 100%;
    margin-bottom: 23px;
}

.game_title {
    font-family: 'Noto Sans', serif;
    font-size: 24px;
    letter-spacing: 0.94px;
    color: #fff;
}

.game_description {
    font-size: 14px;
    line-height: 24px;
    color: #aba09c;
}

.newest_news {
    padding: 80px 72px;
    background: #262423;
}

.newest_news .section_title {
    margin-bottom: 55px;
}

.newest_news .section_description_link {
    text-decoration: none;
}

.newest_news .section_description_link:hover {
    text-decoration: underline;
}

.release_container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.release_container>div {
    position: relative;
    width: 16%;
}

.release_container .release_absolut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(23, 22, 21, .8);
    padding: 14px 12px;
}

.release_absolut .category {
    display: inline-block;
    font-size: 14px;
    font-family: 'Minecraft Seven', serif;
    letter-spacing: 0.56px;
    padding: 0 4px 1px;
    text-align: center;
    box-shadow: 2px 2px 0 0 #0000004d;
    background: #fff;
    margin-bottom: 6px;
}

.release_absolut .release_description {
    font-family: 'Minecraft Seven', serif;
    color: #fff;
    line-height: 24px;
}

.author_content {
    padding: 48px 60px 32px;
    color: #fff;
    text-align: center;
}